@import '~antd/dist/antd.css';

.cardContainer {
  height: 740px;

//   .leftContent {
//   }

  .rightContent {

    position: relative;

    .noneImg {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      opacity: 0.6;
    }
  }
}
