@import '~antd/dist/antd.css';

// .title {
//   font-weight: 700;
  
//   font-size: 16px;

//   //主标题
//   // font-size: 16px;
//   // font-weight: 700;
//   // margin-bottom: 8px;
//   // color: #333;

//   //副标题
//   // font-size: 12px;
//   //   font-weight: 400;
//   //   color: #9b9b9b;

//   //其他子项
//   //font-size: 14px;
//   //color: #9b9b9b;

// }


.project {

  margin-bottom: 16px;
  &:hover {
    border-color: @primary-color;
    cursor: pointer;
  }

}

//tab
.tabName {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,.65);
}